header {
  height: 40vh;
  background-image: url(../images/b2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .about {
  font-size: 1.2rem;
  padding: 50px;
  margin: 30px;
}

main .about h2,
h3 {
  color: var(--text-color);
  margin: 10px;
}

main .video {
  display: flex;
  justify-content: center;
  margin: 20px;
}

main .video iframe {
  width: 800px;
  height: 500px;
  padding: 20px;
}
