header {
  height: 40vh;
  background-image: url(../images/b2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-us {
  padding: 70px;
}

.contact-us .section-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--text-color);
}

.contact-us .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.contact-us .container div {
  background-color: #eee;
  width: 300;
  height: 200;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.contact-us .container div h4 {
  margin-bottom: 10px;
}

.contact-form {
  text-align: right;
}

.contact-form .section-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--text-color);
}

.contact-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 800px;
  margin: auto;
}

.contact-form form textarea {
  grid-column: span 2;
}

.contact-form form input,
.contact-form form textarea {
  padding: 15px;
  font-size: 1rem;
  background-color: #eee;
  border: none;
  border-radius: 5px;
}

.contact-form form button {
  font-size: 1rem;
  height: 30px;
  width: 100px;
  background-color: white;
  border: 2px solid var(--text-color);
  border-radius: 15px;
  text-align: center;
  margin: 30px;
}

.contact-form form button:hover {
  background-color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}
.contact-form form button:hover {
  color: white;
}


.map{
  display: grid;
  justify-content: center;
  margin: 20px 40px;
}

.map h2{
   text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--text-color);
  
  
}