@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

:root {
  --text-color: #1b8c03;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", Arial, sans-serif;
  direction: rtl;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Grid Containers */
/* @media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

/* Header Background */
.main-header {
  background-image: url(../images/YWU18-12-2022-880808.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
  height: 100vh;
}

/* Navigation */
nav {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

nav img {
  width: 80px;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  order: -1;
}

nav ul {
  margin-right: 30px;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

nav ul li a {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  margin: 0 10px;
}

nav ul li a:hover {
  scale: 1.1;
}

nav .mode a {
  color: white;
  font-size: 20px;
  transition: color 0.3s ease;
}

nav .mode a:hover {
  color: #ffd700;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: black;
}

body.dark-mode nav {
  background-color: #1e1e1e;
}

body.dark-mode nav ul li a,
body.dark-mode .mode a {
  color: #f1f1f1;
}

body.dark-mode nav ul li a:hover,
body.dark-mode .mode a:hover {
  color: #818079;
}

/* Latest News */
.latest-news {
  padding: 50px;
  background-color: #eee;
}

.latest-news .section-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--text-color);
}

.latest-news .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.latest-news .container .news {
  background-color: white;
  padding-bottom: 20px;
  text-align: right;
  width: 300px;
  height: 400px;
  box-shadow: 0 0 5px #6e6868;
  transition: 0.3s;
  position: relative;
}

.latest-news .container .news:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #6e6868;
}

.latest-news .container .news img {
  width: 100%;
  height: 60%;
  margin-bottom: 20px;
}

.latest-news .container .news p {
  font-size: 1.2rem;
  font-weight: 450;
  margin-right: 5px;
}

.latest-news .container .news .date {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 5px;
  margin-bottom: 20px;
}

.latest-news .container .news a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 450;
  margin-right: 5px;
}

/* Campaigns */
.campaigns {
  padding: 50px;
}

.campaigns .section-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--text-color);
}

.campaigns .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.campaigns .container .campaign {
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: right;
  width: 300px;
  height: 350px;
  box-shadow: 0 0 5px #6e6868;
  transition: 0.3s;
  position: relative;
}

.campaigns .container .campaign:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #6e6868;
}

.campaigns .container .campaign .day {
  position: absolute;
  right: 5px;
  top: 7px;
  background-color: var(--text-color);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.campaigns .container .campaign img {
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
}

.campaigns .container .campaign p {
  font-size: 1.2rem;
  font-weight: 450;
  margin-right: 5px;
  margin-bottom: 15px;
}

/* Statistics */
.statistcs {
  padding: 50px;
  background-color: #eee;
  position: relative;
}

.statistcs .section-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--text-color);
}

.statistcs .overlay {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.466);
}

.statistcs .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.statistcs .container .stat {
  background-image: url(../images/project-photo.webp);
  background-size: cover;
  text-align: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.stat-info {
  z-index: 10;
  color: white;
}

.statistcs .container .stat i {
  font-size: 1.5rem;
}

.statistcs .container .stat h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.statistcs .container .stat p {
  font-size: 20px;
  font-weight: 800;
}

/* Partners */
.partners {
  padding: 50px;
}

.partners .section-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--text-color);
}

.partners .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.partners .container .partner {
  padding: 20px 0;
  width: 200px;
  height: 150px;
  margin: 20px;
}

.partners .container .partner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: #f7f7f7;
  padding: 40px 20px;
  text-align: center;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

footer .section-title {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

footer .social-media a {
  color: #333;
  font-size: 2rem;
  margin: 0 10px;
  transition: color 0.3s;
}

footer .social-media a:hover {
  color: var(--text-color);
}

footer .sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: right;
}

footer .footer-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-logo img {
  width: 200px;
}

footer .input-holder {
  flex: 1;
  text-align: right;
  padding: 20px;
  margin-left: 40px;
}

footer .input-holder h4 {
  font-size: 1.2rem;
  font-weight: 450;
  margin: 15px;
}

footer .input-holder form {
  display: flex;
  align-items: center;
}

footer .input-holder input {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  min-width: 250px;
}

footer .input-holder button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--text-color);
  color: #fff;
  border: none;
  cursor: pointer;
}

footer .input-holder button:hover {
  font-weight: bold;
  background-color: #eee;
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

footer .links {
  flex: 1;
}

footer .links ul {
  list-style: none;
  padding: 0;
}

footer .links li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #333;
}

footer .links li i {
  margin-left: 8px;
  color: #333;
}

footer hr {
  margin-top: 40px;
  border: none;
  border-top: 1px solid #ccc;
}

footer p {
  margin-top: 15px;
  font-size: 1rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .main-header {
    width: 100vw;
  }
  .menu-toggle {
    display: block;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    order: 3;
    margin-right: 10px;
  }

  nav {
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    padding: 10px 20px;
    display: flex;
  }

  nav img {
    order: 1;
    margin-left: auto;
  }

  nav .mode {
    order: 2;
    margin-left: 10px;
  }

  nav ul {
    order: 4;
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    text-align: center;
    padding: 10px;
  }

  .latest-news .container,
  .campaigns .container,
  .statistcs .container,
  .partners .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .latest-news .container .news,
  .campaigns .container .campaign,
  .statistcs .container .stat {
    width: 300px;
    height: 350px;
  }

  .partners .container .partner {
    width: 300px;
    height: 200px;
  }
  .statistcs .overlay {
    width: 250px;
    height: 250px;
  }
  .statistcs .container .stat {
    width: 250px;
    height: 250px;
  }

  footer .sub-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .input-holder {
    margin-left: 0;
    padding: 10px;
  }

  footer .input-holder form {
    flex-direction: column;
    gap: 10px;
  }

  footer .input-holder input {
    min-width: 100%;
  }

  footer .input-holder button {
    width: 100%;
  }
}
